*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/caches/deviceStreaming.xml
/.idea/AndroidProjectSystem.xml
/.idea/appInsightsSettings.xml
